# Node Dependencies
node_modules/
**/node_modules/

# Build Outputs
dist/
experiences/*/dist/

# OS Metadata
.DS_Store
**/.DS_Store
Thumbs.db

# Logs & Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & Local Config
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Screen Recordings & Temp Media
*.mov
*.mp4
!experiences/my-room-in-3d/static/assets/*.mp4
!public/room/assets/*.mp4
!public/hero-image.mp4
*.blend
*.blend1
/*.glb
